<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>template</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
        <button @click="changeComponent('Home')">Home</button>
        <button @click="changeComponent('Post')">Post</button>
        <button @click="changeComponent('Archive')">Archive</button>
        <div>
            <!-- <Home v-show="showComponent === 'Home'"></Home>
            <Post v-show="showComponent === 'Post'"></Post>
            <Archive v-show="showComponent === 'Archive'"></Archive> -->
            <keep-alive exclude="Home">
                <component :is="showComponent"></component>
            </keep-alive>
        </div>
    </div>
    <script>
      

    //   Vue.component("Home",{
    //       template:`<div>home</div>`
    //   })
    //   Vue.component("Post",{
    //       template:`<div>post</div>`
    //   })
    //   Vue.component("Archive",{
    //       template:`<div>archive</div>`
    //   })

      const componentMap = {
          Home:{
              template:`<div>性别：
                <input type="radio" name="gender" v-model="checked">女</input>
                <input type="radio" name="gender" v-model="checked">男</input>
                </div>`,
                data() {
                    return {
                        checked: false
                    }
                },
                activated() {
                    console.log("home - 激活");
                },
                deactivated() {
                    console.log("home - 失效");
                },
          },
          Post:{
            template:`<div>post</div>`
          },
          Archive:{
            template:`<div>archive</div>`
          }
      }

      const app = new Vue({
        el: "#app",
        data:{
            showComponent: componentMap["Home"],
            checked:false,
        },
        methods: {
            changeComponent(componentName) {
                this.showComponent = componentMap[componentName];
            }
        },
      });
    </script>
  </body>
</html>
